# Server
NODE_ENV=production
PORT=8000
HOST=127.0.0.1

# Data Base
DB_URL=postgres://postgres:postgres@127.0.0.1:5432/demo-ecommerce
DB_LOGGING=true

# API
ENABLE_CORS=true
ENABLE_SWAGGER=true
SWAGGER_HOST=localhost:8000
SWAGGER_DEFAULT_SCHEME=HTTP
